.background {
  height: 6em;
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
  /* background: #052360; */
  /* background: slateblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4338ca;
  background-image: linear-gradient(135deg, #4338ca 0%, #6a143c 100%);
}
