.container {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: slateblue;
  position: relative;
  top: -50px;
}

.container:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: slateblue;
}
