@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  background-color: #010a0e;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #f1f1f1;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #010a0e;
  background-image: linear-gradient(-20deg, #061b25 0%, #37474f28 100%);
}

.background:before {
  background: radial-gradient(circle, #2a28717c 0, #24003800 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.background:after {
  content: "";
  background-image: url("/background/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 100%;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(65, 0, 126) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(73, 26, 204) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(11, 32, 84) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(202, 15, 68) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.main {
  z-index: 5;
  position: relative;
}

body {
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-geist-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
